{% extends "vamp__object.twig" %}

{% block objectContent %}

<div class="col-auto d-flex align-items-center flex-column" style="justify-content: center; align-items: center;">                
    <div class="block s text">
        Судьбы её тебе не изменить,<br>
        Она приходит под покровом ночи.<br>
        Клыки её тебя могут убить.<br>
        Когда придёт, гони её ты прочь!<br>
        <br>
        Её глаза горят огнём из ада,<br>
        Сама она чертовски хороша.<br>
        И на губах её кровавая помада,<br>
        Давно уже у дьявола душа.<br>
    </div>
</div>
{% endblock %}