{% extends "werewolf__object.twig" %}

{% block objectContent %}

<div class="col-auto d-flex align-items-center flex-column" style="justify-content: center; align-items: center;">        
    <div class="block s text">
        <div class="col-auto" style="display: flex; align-items: center;">
        <div style="color: rgb(80, 1, 1);">   
            Харизма<br>
            Интелект<br>
            Сила<br>
            Ловкость
        </div>
        <div style="margin: 16px;">
        </div>
        <div style="color: rgb(80, 1, 1);">
            7<br>
            <i class="fas fa-cog fa-spin" style="color: rgb(80, 1, 1);"></i><br>
            10<br>
            8
        </div>
        </div>
    </div>
</div>
{% endblock %}