{% extends "werewolf__object.twig" %}

{% block objectContent %}

<div class="col-auto d-flex align-items-center flex-column" style="justify-content: center; align-items: center;">                
    <div class="block s text">
        Однажды свет погаснет быстро,<br>
        Впитает тело сгусток тьмы,<br>
        И ночь с бесцветным коромыслом<br>
        Меня оденет в шерсть зимы.<br>
        <br>
        Проснутся когти льда острее,<br>
        И полыхнут огнем зрачки;<br>
        Кошмаров всех ночных быстрее<br>
        Пронзят врага мои клинки.<br>
        <br>
        А отомстив, найду берлогу,<br>
        Где звук не потревожит слух,<br>
        И твое сердце-недотрогу<br>
        Стеречь уйдет мой темный дух.
    </div>
</div>
{% endblock %}